<!DOCTYPE html>
<html>

<head>
    <title>Ketqua_search</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/header-big.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>

<body>
    <div class="header-nightsky">

        <!-- navbar -->
        <nav class="navbar navbar-default">
            <div class="container">
                <a class="navbar-brand" href="#">GOfficer</a>
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">HOME</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">HELP <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Donate</a></li>

                            </ul>
                        </li>


                    </ul>
                </div>
            </div>
        </nav>

        <!-- main background -->
        <div class="hero">
            <h1>Gym for Officer</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ut tempor enim.</p>
            <!-- <div class="btn btn-primary">Learn more about us</div>
            <div class="btn btn-primary">Contact us</div> -->
            <br><br>

            <!-- bar search -->
            <div class="container-fluid">
              <div class="col-md-1">

              </div>
              <div class="col-md-3  no-padding">

                <select id="time" class="form-control input-lg" placeholder="Thời gian">
                  <option value="">Thời gian</option>
                  <option>1 phút</option>
                  <option>2 phút</option>
                  <option>3 phút</option>
                  <option>5 phút</option>
                </select>
              </div>
              <div class="col-sm-12 col-md-3 no-padding">

                <select id="target" class="form-control input-lg" placeholder="Mục đích">
                  <option value="">Mục đích</option>
                  <option>Thích thì tập</option>
                  <option>Đau đầu</option>
                  <option>Mỏi chân</option>
                  <option>Mỏi tay</option>

                </select>
              </div>
              <div class="col-sm-12 col-md-3 no-padding">

                <select id="space" class="form-control input-lg" placeholder="Mục đích">
                  <option value="">Không gian tập</option>
                  <option>Tại bàn làm việc</option>
                  <option>Ngoài sảnh</option>
                  <option>Tầng thượng</option>
                  <option>WC</option>

                </select>
              </div>
              <div class="col-sm-12 col-md-1 no-padding">
                <button type="button" class="btn btn-danger btn-lg"><i class="fa fa-search" aria-hidden="true"></i>
                </button>
              </div>

              <div class="col-md-1">

              </div>
            </div>

            <br><br><br><br>
            <div class="container-fluid">
              <div class="col-md-8">
                <h1><strong>Các kết quả tìm kiếm</strong></h1>
              </div>
            </div>

            <!-- search résult -->
            <br>
            <div class="container-fluid" >
                <div class="col-md-10">
                    <div class="col-md-2">

                    </div>
                    <div class="col-md-4">
                      <a href="#baitap"><img src="http://tw.mensuno.asia/sites/default/files/of002%20%281%29.jpg" alt="An image of exercise"></a>
                    </div>
                    <div class="col-md-2">

                    </div>
                    <div class="col-md-4">
                      <a href="#baitap" ><b class="card-title" style="font-size:300%; color:White;">Bài tập xoay cổ tay</b></a>
                        <p><strong>Thời gian:</strong> Lorem ipsum dolor sit amet, consectetur ...</p>
                        <p><strong>Không gian:</strong> Lorem ipsum dolor sit amet, consectetur ...</p>
                        <p><strong>Tác dụng:</strong> Lorem ipsum dolor sit amet, consectetur ...</p>
                    </div>
                </div>
            </div>

              <!-- another search résult -->
            <br><br>
            <div class="container-fluid">
                <div class="col-md-10">
                    <div class="col-md-2">

                    </div>
                    <div class="col-md-4">
                      <a href="#baitap"><img src="http://tw.mensuno.asia/sites/default/files/of002%20%281%29.jpg" alt="An image of exercise"></a>
                    </div>
                    <div class="col-md-2">

                    </div>
                    <div class="col-md-4">
                      <a href="#baitap" ><b class="card-title" style="font-size:300%; color:white;">Bài tập xoay cổ tay</b></a>
                        <p><strong>Thời gian:</strong> Lorem ipsum dolor sit amet, consectetur ...</p>
                        <p><strong>Không gian:</strong> Lorem ipsum dolor sit amet, consectetur ...</p>
                        <p><strong>Tác dụng:</strong> Lorem ipsum dolor sit amet, consectetur ...</p>
                    </div>
                </div>
            </div>

            <!-- next result buttons -->
            <br><br>
            <div class="container-fluid">
              <nav aria-label="Page navigation example">
                <ul class="pagination">
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                      <span class="sr-only">Previous</span>
                    </a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                      <span class="sr-only">Next</span>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>

                <!--end main background area -->
        </div>
      </div>


    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>
