<!DOCTYPE html>
<html>

<head>
    <title>Tìm kiếm</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/ketqua.css">

    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>

<body>
    <div class="header-nightsky">

      <nav class="navbar navbar-default">
          <div class="container">
              <a class="navbar-brand" href="{{ url_for('index')}}">GOfficer</a>
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
              </div>
              <div class="collapse navbar-collapse" id="myNavbar">
                  <ul class="nav navbar-nav navbar-right">
                      <li><a href="{{url_for('about')}}">ABOUT US</a></li>
                      <li class="dropdown">
                          <a class="dropdown-toggle" data-toggle="dropdown" href="#">HELP <span class="caret"></span></a>
                          <ul class="dropdown-menu">
                              <li><a href="{{url_for('access')}}">Admin</a></li>
                              <li><a href="{{url_for('donate')}}">Donate</a></li>
                          </ul>
                      </li>
                  </ul>
              </div>
          </div>
      </nav>
        <!-- main background -->
        <div class="hero">

          <div class="container-fluid">
            <form class="" action="/search" method="post">
            <div class="col-md-1"></div>
            <div class="col-md-3 no-padding">
              <select name="time" class="form-control input-lg" placeholder="Thời gian">
                <option value="0" >Thời gian</option>
                <option value="1">1 phút</option>
                <option value="3">3 phút</option>
                <option value="5">5 phút</option>
                <option value="More">More</option>
              </select>
            </div>
            <div class="col-sm-12 col-md-3 no-padding">
              <select name="purpose" class="form-control input-lg" placeholder="Mục đích">
                <option value="0">Mục đích</option>
                <option value="Thích thì tập">Thích thì tập</option>
                <option value="Đau đầu">Đau đầu</option>
                <option value="Mỏi chân">Mỏi chân</option>
                <option value="Mỏi tay">Mỏi tay</option>
              </select>
            </div>
            <div class="col-sm-12 col-md-3 no-padding">
              <select name="space" class="form-control input-lg" placeholder="Không gian">
                <option value="0">Không gian tập</option>
                <option value ="Bàn làm việc">Tại bàn làm việc</option>
                <option value="Ngoài sảnh">Ngoài sảnh</option>
                <option value="Tầng thượng">Tầng thượng</option>
                <option value="WC">WC</option>
              </select>
            </div>
            <div class="col-sm-12 col-md-1 no-padding">
              <button type="submit" class="btn btn-danger btn-lg"><i class="fa fa-search" aria-hidden="true"></i>
              </button>

            </div>
            <div class="col-md-1"></div>
            </form>
          </div>

        </div>
        <div class="container">
          <div class="col-md-7">
            <h1 class="h1">Kết quả tìm kiếm</h1>
            <br><br>
          </div>
          <div class="col-md-6">
          </div>
        </div>
        {% for baitap in listbaitap %}
        <div class="container img-thumbnail">

          <div class="col-md-4">
            <a target="_blank" href="#"><img class="cardimg" src="{{baitap.image}}" alt="An image of exercise"></a>
          </div>
          <div class="col-md-8">
            <a href="baitap/{{baitap.id}}"class="" href="#" ><b style="font-size:300%; color:white;">{{baitap.name}}</b></a>
            <br><br>
              <h4 class=""><strong>Thời gian (phút) :</strong> {{baitap.time}}</h4>
              <h4 class=""><strong>Không gian:</strong> {{baitap.space}}</h4>
              <h4 class=""><strong>Tác dụng:</strong> {{baitap.purpose}}</h4>
              <h4><strong>Mô tả:</strong> {{baitap.description}}</h4>
          </div>

        </div>
      <br>
        {% endfor %}

    </div>



    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>
